<!--<h1>Hola</h1>
<h2> Autor : Alan Blanco San Miguel</h2>
<img src="/public/images/autor.jpj">-->

<%for(var a in autor){%>
  <img src="<%= autor[a].foto %>"  alt="alan blanco" class="img-rounded" height="70%" width="30%">
  <h1>Hola</h1>
  <h2> Autor : Alan Blanco San Miguel</h2>
<%}%>